.player {
  width: 100%;
  height: 5rem;
  background: $dark;
  position: relative;
  z-index: 1;

  .progress {
    width: 100%;
    height: 0.3rem;
    background: $primary;
    position: relative;
    overflow: hidden;

    input {
      width: 100%;
      height: 0.3rem;
      cursor: pointer;
      appearance: none;
      background: transparent;
      border: 0;
      outline: 0;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      transition: 0.5s ease all;

      &::-webkit-slider-thumb {
        appearance: none;
        height: 0.3rem;
        width: 0.3rem;
        border-radius: 50%;
        background: transparent;
        position: relative;
        z-index: 2;
        transition: 0.5s ease all;
      }

      &::-moz-range-thumb {
        appearance: none;
        height: 0.3rem;
        width: 0.3rem;
        border-radius: 50%;
        background: transparent;
        border: 0;
        position: relative;
        z-index: 2;
        transition: 0.5s ease all;
      }
    }

    .track {
      background: $light-alt;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(0);
      pointer-events: none;
      transition: 0.5s ease all;
    }

    .audio {
      visibility: hidden;
    }
  }

  .controls {
    width: 100%;
    padding: 0 2rem;
    height: calc(100% - 0.3rem);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .time-step,
    .time-end {
      width: 4rem;
      color: $light;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
    }

    .play-control {
      width: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .play-btn {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 0;
        outline: 0;
        background: $primary;
        color: $light;
        font-size: 1.5rem;
        line-height: 3.5rem;
        cursor: pointer;
      }

      .prev-btn,
      .next-btn {
        width: 2.5rem;
        height: 2.5rem;
        background: $light-alt;
        color: $light;
        border: 0;
        outline: 0;
        border-radius: 50%;
        text-align: center;
        line-height: 2.7rem;
        cursor: pointer;
      }
    }
  }
}
