// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Fonts
$sans-serif: "Poppins", sans-serif;
$serif: "Playfair Display", serif;

// Colors
$primary: #e37517;
$secondary: #ffb860;
$dark: #051223;
$dark-alt: #010b19;
$light: #ffffff;
$light-alt: #394653;

// Shadows
$shadow: 0 0 2rem #ffffff42;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
*::selection {
  background: $dark;
  color: $light;
}
::-webkit-scrollbar {
  width: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 5rem;
}
::-webkit-scrollbar-track {
  background: $light-alt;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  font-family: $sans-serif;
  background: $dark;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p,
  b,
  i,
  u,
  ul,
  ol,
  li,
  span {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  img,
  video {
    width: 100%;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

main {
  width: 100%;
  height: 100vh;
  background: $dark;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  section {
    width: calc(100% - 25rem);
    transition: 0.5s ease all;

    &.active-player {
      width: 100%;
    }
  }
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  background: $dark;
  position: relative;
  z-index: 2;

  .logo {
    font-size: 2rem;
    font-family: $serif;
    color: $light;

    span {
      font-weight: 800;
      font-size: 2rem;
      color: $primary;
    }
  }

  .toggle {
    width: 2.7rem;
    height: 2.7rem;
    text-align: center;
    line-height: 2.9rem;
    background: $light;
    color: $dark;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease all;
    box-shadow: $shadow;
    position: relative;
    z-index: 7;

    &.toggle:hover {
      color: $light;
      background: $primary;
    }
  }
}

.container {
  width: 100%;
  height: 90vh;
}

// Imports
@import "./song";
@import "./player";
@import "./library";
@import "./responsive";
